* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --border-radius: 3px;
  --border-radius-5: 5px;
  --border-color: #0c7489;
  --background-black: #16171b;
  --box-shadow: 1px 2px 3px rgba(110, 110, 110, 0.1), -1px -1px 1px #0c7489;
  --text-color: #e1e5ee;
}

body {
  padding: 1rem;
  background-color: var(--background-black);
  color: var(--text-color);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans',
    Arial, sans-serif;
  text-align: center;
}

h1 {
  padding: 1rem 0;
}

/* Game Board */
#game-board {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.letter-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3.5rem;
  height: 3.5rem;
  margin: 2px;
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  font-size: 1.75rem;
  font-weight: 700;
  text-transform: uppercase;
}

.filled-box {
  border: 1px solid #e1e5ee;
  box-shadow: 2px 2px 4px rgba(110, 110, 110, 0.1), -1px -1px 1px #e1e5ee;
}

.letter-row {
  display: flex;
}

/* On-screen Keyboard */
#keyboard-on-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem 0;
}
.first-keyboard-row,
.second-keyboard-row,
.third-keyboard-row {
  display: flex;
}
.second-keyboard-row {
  margin: 0.5rem 0;
}

.keyboard-btn {
  margin: 0 2px;
  padding: 0.5rem;
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  background-color: var(--background-black);
  box-shadow: var(--box-shadow);
  color: var(--text-color);
  font-size: 0.8rem;
  font-weight: 500;
  text-transform: uppercase;
  cursor: pointer;
}
.keyboard-btn:hover {
  color: var(--border-color);
  opacity: 0.9;
}

/* HINT SECTION */
.show-hint-container-btn {
  width: 260px;
  margin: 0 auto;
  padding: 1rem;
  border-radius: var(--border-radius);
  background-color: var(--background-black);
  box-shadow: var(--box-shadow);
  color: var(--text-color);
  cursor: pointer;
}
.show-hint-container-btn:hover {
  color: var(--border-color);
  opacity: 0.9;
}

#hint-container {
  margin: 0 auto;
  padding: 2em 1rem;
}
.hidden {
  display: none;
}

#hint-search-input-field {
  width: 260px;
  padding: 1rem;
  border: none;
  border-radius: var(--border-radius);
  background-color: var(--background-black);
  box-shadow: var(--box-shadow);
  color: var(--text-color);
  font-size: 1rem;
}
.hint-title {
  padding: 1rem;
}
#hint-search-input-field:focus {
  outline: none;
  border: 1px solid var(--border-color);
}

#hint-results {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.word {
  min-width: 5rem;
  padding: 1rem;
  margin: 0.5rem;
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius-5);
  box-shadow: var(--box-shadow);
}

@media only screen and (min-width: 800px) {
  #hint-container {
    width: 80vw;
    padding: 2rem;
  }
}
